body{
    font-family: 'Anton', sans-serif;
    font-family: 'Pathway Extreme', sans-serif;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 70px;
    margin: 20px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
.flex{
    display: flex;
    margin-bottom: 150px;
}
.border{
    padding-left: 10%;
    width: 50%;
}
.border1{
    border: none;
}
img{
    padding-top: 10%;
    height: 50%;
    width: auto;
}
a{
    text-decoration: none;
    border: 80%;
    border-radius: 10%;
    background-color: aqua;
    padding: 2%;
    position: abs
    olute top: 5px;
}
.developer{
    box-shadow: 10px 10px 10px gray;/*eta dile alada box banaite hoy na margin diye,box create hoye jay*/
    margin-left: 5%;
    margin-right: 5%;/*2 ta box k dure shoraite*/
    width: 40%;
    padding-left: 10px;/*box er likha box theke dure shoraite*/
    border-radius: 5%;
}
#baby-web-developer{
    border-left: 7px solid blue;
}
#Full-stack-Developer{
    border-left: 7px solid red; 
}
footer p{
    text-align: center;
}